
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  UKHSA Service Catalogue
{% endblock %}

{% block content %}


  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/services">List of services</a>
      </li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" style="margin-top:2rem; font-size:5rem">
        Get a free PCR test to check if you have coronavirus
      </h1>
    </div>
  </div>

{% endblock %}
