
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
UKHSA Service Catalogue
{% endblock %}

{% block content %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/services">List of services</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" style="margin-top:2rem; font-size:5rem; line-height:0.95em">
      Get a free PCR test to check if you have coronavirus
    </h1>
  </div>
</div>

<div class="govuk-grid-row">

  <!-- COL -->
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"> Contents </h3>
    <ul class="govuk-list">
      <li> &mdash; <a class="govuk-link" href="#overview">Overview of the service</a> </li>
      <li> &mdash; <a class="govuk-link" href="#purpose">Purpose of the service</a> </li>
      <li> &mdash; <a class="govuk-link" href="#delivery">Delivery of the service</a> </li>
      <li> &mdash; <a class="govuk-link" href="#">Management of the service</a> </li>
    </ul>

    <div class="metadata">
      <h3 class="govuk-heading-s role-heading">Senior Reponsible Officer</h3>
      <p>&mdash; <a href="mailto:jef@gov.com">Sir Jeffery Fairbrother</a></p>

      <h3 class="govuk-heading-s role-heading">Service Owner</h3>
      <p>&mdash; <a href="#">Gladys Pugh</a></p>

      <h3 class="govuk-heading-s role-heading">Product Managers</h3>
      <div class="no-marg">
        <p>&mdash; <a href="#">Ted Bovis</a></p>
        <p>&mdash; <a href="#">Yvonne Stuart-Hargreaves</a></p>
        <p>&mdash; <a href="#">Spike Dixon</a></p>
        <p>&mdash; <a href="#">Peggy Ollerenshaw</a></p>
      </div>

      <h3 class="govuk-heading-s role-heading">Delivered by</h3>
      <div class="no-marg">
        <p>&mdash; <a href="#">NHSDigital</a></p>
        <p>&mdash; <a href="#">Deloitte</a></p>
      </div>

    </div>

  </div>

  <!-- COL -->
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="overview">Overview of the service</h2>
    <h3 class="govuk-heading-m">Service description</h3>
    <p>Allows the general public to get a polymerase chain reaction (PCR) test to check whether they have COVID-19. They can book a test, find an appropriate way to take the test (either by traveling to a test centre, or taking it at home) and then have the test analysed in a lab and be sent the results.</p>
    <h3 class="govuk-heading-m">UKHSA&rsquo;s role in this service</h3>
    <p>UKHSA is responsible for the consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

    <!-- PURPOSE -->
    <h2 class="govuk-heading-l" id="purpose">Purpose of the service</h2>
    <h3 class="govuk-heading-m">Users of the serivce and their needs</h3>
    <div class="govuk-inset-text">
      This information has been provided by the service team.
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" width="38%" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">User needs</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header"> As someone with COVID symptoms </td>
          <td class="govuk-table__cell">
            <p>I need to chose an appropriate way to take the test</p>
            <p>I need reuslts to arrive quickly</p>
            <p>I need to understand where I need to go</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header"> As someone who has had contact with a person who&rsquo;s tested positive </td>
          <td class="govuk-table__cell">
            <p>I need to chose an appropriate way to take the test</p>
            <p>I need reuslts to arrive quickly</p>
            <p>I need to understand where I need to go</p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- POLICY -->
    <h3 class="govuk-heading-m">Policy objective</h3>
    <p>This policy aims to reduce the spread of COVID by enabling the general public to sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!-- PRIORITY -->
    <h3 class="govuk-heading-m">Departmental Priority</h3>
    <p>Not recorded</p>

    <!-- PURPOSE -->
    <h2 class="govuk-heading-l" id="delivery">Delivery of the service</h2>
    <h3 class="govuk-heading-m">The service as experienced by users</h3>
    <div class="govuk-inset-text">
      This information has been provided by the service team.
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" width="38%" class="govuk-table__header">Steps</th>
          <th scope="col" class="govuk-table__header">Delivered by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">1. Realises they have COVID symptoms</td>
          <td class="govuk-table__cell">Information on GOV.UK, NHS.UK describing cardinal symptoms and directing people to get a PCR test if they have them.</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">2. Books a test</td>
          <td class="govuk-table__cell">This can be done via the online service or by phone on 119</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">3. Takes a test</td>
          <td class="govuk-table__cell">This can be done either at home or through various testing sites including drive-through, walk-through etc.</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">4. Recieves result</td>
          <td class="govuk-table__cell">Results are sent to people via text messages and emails.</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">5. Shares contacts </td>
          <td class="govuk-table__cell">See <a href="#">Share contacts</a> services.</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">6. Self-isolates </td>
          <td class="govuk-table__cell">See <a href="#">Self-isolation</a> services.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l" id="delivery">Management of this service</h2>
    <h3 class="govuk-heading-m">Area and team</h3>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Directorate</td>
          <td class="govuk-table__cell">Customer, Communications & Innovation</td>
        </tr>
      </tbody>
    </table>

  </div><!-- /COL -->
</div><!-- /ROW -->

{% endblock %}
