// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

.govuk-template, .govuk-template__body {
    margin: 0;
    background-color:#F8F8F8;
}

.govuk-header {
  background-color:white;
}
.govuk-header__link:link, .govuk-header__link:visited {
  color:$govuk-border-colour;
}

.govuk-header__container {
  border-bottom:none;
}

.govuk-table__header.services {
  font-size:1rem;
  font-weight:300;
  color:govuk-colour("dark-grey");
}

.table-header {
  margin:1rem 0;
}

.govuk-heading-s.role-heading {
  margin-bottom:0px;
}

.no-marg {
  margin-bottom:1.25rem;
  p {
  margin:0;}
}

.metadata {
  margin-top:4rem;
  margin-bottom:1rem;
  border-top:1px solid govuk-colour("mid-grey");
  padding:1rem;
  padding-top:2rem;
  a,h3,p {font-size:1em;}

  // background: govuk-colour("blue");
  // a,h3,p {color:white;font-size:1em;}
}

// .govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
//   padding-top:0;
// }
