
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="font-size:6rem">
        UKHSA
        <span class="govuk-caption-xl" style="font-size:4.5rem">Service Catalogue</span>
      </h1>
      <p>
        <a href="#">All services</a>
      </p>
      <p>
        <a href="#">Services by delivery</a><br />
        Services where UKHSA delivers the end service to end users.
      </p>
      <p>
        <a href="#">End users</a><br />
        A list of the end users who are served by our services.
      </p>
    </div>
  </div>

{% endblock %}
