<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag" style="background-color:#b1b4b6">
      prototype
    </strong>
    <span class="govuk-phase-banner__text" style="font-size:0.9rem">
      This is a <a href="https://en.wikipedia.org/wiki/Prototype">prototype</a>, not a real service. This page is for testing purposes only. (<a href="https://www.gov.uk/service-manual/design/making-prototypes">Why use prototypes?</a>)
    </span>
  </p>
</div>
